
@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

body {
  background: linear-gradient(135deg, #b7e4f0, #c5e2e9);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.card-custom {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
}

.transparent-image {
  opacity: 0.8;
  height: 100%; /* Adjust transparency */
}

.form-control-custom {
  border: 1px solid #4d7c8a;
  padding: 10px;
  border-radius: 5px;
  transition: border-color 0.3s ease;
}

.form-control-custom:focus {
  border-color: #6b4f77;
  box-shadow: none;
}

.btn-custom {
  background: linear-gradient(270deg, #4d7c8a, #3d8ea7, #4d7c8a);
  border: none;
  color: #ffffff;
  transition: background 0.3s ease;
  position: relative;
  overflow: hidden;
  animation: gradientShift 3s ease infinite !important;
}

/* .btn {
  background-color: #4d7c8a !important;
  color: #ffffff !important;
} */

.btn-custom:hover {
  animation: gradientShift 3s ease infinite;
  color: black !important;
  background: linear-gradient(to right, #74ebd5 0%, #9face6 100%);
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  
}

.login-box {
  background: rgba(255, 255, 255, 0.9); /* Semi-transparent background */
  padding: 150px;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  height: 70vh;
  
}

.login-title {
  text-align: center;
  margin-bottom: 30px;
  color: #4d7c8a;
  font-size: 24px;
  font-weight: bold;
  
}

.login-error {
  color: red;
  text-align: center;
  margin-top: 10px;
}